@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?6q6bpl');
  src:  url('fonts/icomoon.eot?6q6bpl#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?6q6bpl') format('truetype'),
    url('fonts/icomoon.woff?6q6bpl') format('woff'),
    url('fonts/icomoon.svg?6q6bpl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-users:before {
  content: "\e972";
}
.icon-cogs:before {
  content: "\e995";
}
.icon-sphere:before {
  content: "\e9c9";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-mail3:before {
  content: "\ea85";
}
